{{- if .Values.ingress.enabled -}}
{{ $newIngress := .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $.Release.Name }}-sim-backend
  labels:
    {{- include "sim-backend.common-labels" $ | nindent 4 }}
  annotations:
    {{- .Values.ingress.annotations | toYaml | nindent 4 }}
spec:
  rules:
  - http:
      paths:
      - path: /sim/test{{ $.Values.ingress.ingressPathRewriteRegex }}
        backend:
          serviceName: sim-backend
          servicePort: testapi
{{- end }}
