version: 2.1

defaults_Dependencies: &defaults_Dependencies
  name: Install default dependencies
  command: |
    apk --no-cache add git
    apk --no-cache add bash
    apk --no-cache add ca-certificates
    apk --no-cache add curl
    apk --no-cache add openssh-client
    apk add --no-cache -t python2
    apk add --no-cache -t build-dependencies make gcc g++ libtool autoconf automake

jobs:
  lint:
    working_directory: ~/repo
    docker:
      - image: alpine/helm:3.5.2
    steps:
      - run:
          <<: *defaults_Dependencies
      - checkout
      - run:
          name: Update Helm Charts
          command: ./scripts/update-charts-dep.sh
      - run:
          name: Linting Helm Charts
          command: ./scripts/lint-charts.sh

  build_and_publish_chart:
    working_directory: ~/repo
    docker:
      - image: alpine/helm:3.5.2
    steps:
      - run:
          <<: *defaults_Dependencies
      - add_ssh_keys:
         fingerprints:
           - "27:60:48:42:65:59:f3:15:37:63:f1:ba:43:0f:9c:5b"
      - checkout
      - run:
          name: Add helm repo
          command: |
            helm repo add bitnami https://charts.bitnami.com/bitnami
            helm repo add prometheus https://prometheus-community.github.io/helm-charts
            helm repo add mojaloop http://mojaloop.io/helm/repo
            helm repo add charts https://mojaloop.github.io/charts/repo
      - run:
          name: Update dependencies
          command: ./scripts/update-charts-dep.sh
      - run:
          name: Package Helm Chart
          command: ./scripts/package.sh
      - run:
          name: Add new chart to chart repo and publish
          command: |
            git checkout gh-pages
            git checkout master -- .circleci/config.yml
            cd ./repo
            helm repo index --url https://$CIRCLE_PROJECT_USERNAME.github.io/$CIRCLE_PROJECT_REPONAME/repo .
            git add ./*.tgz ./index.yaml
            git config user.email "cicd@modusbox.com"
            git config user.name "CICD at ModusBox"
            git commit -m "Automated deployment to GitHub Pages" --allow-empty
            GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no" git push origin gh-pages

workflows:
  version: 2
  build_and_publish:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - gh-pages
      - build_and_publish_chart:
          requires:
            - lint
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - /.*/
                - gh-pages
