# Default values for mojaloop-iso20022-core-connector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: pm4ml/iso20022-core-connector
  tag: 0.0.6
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

#### ENV values
env:
  BACKEND_ENDPOINT: http://localhost:3002
  OUTBOUND_ENDPOINT: http://localhost:4001
  TEMPLATES_PATH: templates
  REQUEST_TIMEOUT: 5000

service:
  type: ClusterIP
  # this is the port the SERVICE will listen on. requests to the service address on this port
  # get mapped to the "http" named port on the deployment
  port: 3003

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
